/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.dark-theme {
    background-color: #121212; /* Example dark background color */
    color: #fff; /* Example light text color */
    /* Add more styles for the dark theme as needed */
  }
  